/* ПОСЛІДОВНІСТЬ ДІЙ: #початок роботи в CSS
1. підключити modern-normalize
2. підключити файл style.css
3. підключити шрифти з google-fonts
4. cкидання дефолтних налаштувань браузера - виконано
5. прописати загальні стилі
5. прописати стилі шрифтів
6. прописати стилі для: header, main, footer 
7. звернувся до *{backround-color/outline}/видалив по завершенню
8. прописав для секцій(padding-top/botton;margin-top/bottom)/обов'язково
9. прописав VISUALLI-HIDDEN для прихованих заголовків
10. прописав CONTAINER
11. прописав розташування по властивостям для елементів у FLEX
    - !завжди створювати окремий CLASS для FLEX-container/FLEX-elementiv!
    - FLEX завжди задається на батьківський елемент - тоді всі його діти стають FLEX-elements
Алгоритм пропису властивостей у флекс-бокс/elements:
Основні властивості:

display: flex; - робить Flex-conteiner( в середині якого всі дочірні елементи стануть флекс-елементами)
flex-direction: - змінює напрямок головної осі
jastify-content: - вирівнювання елементів по головній осі
align-items: - вирівнювання елементів по допоміжній осі
align-content: - вирівнювання рядків по допоміжній осі
flex-wrap: - перенесення по головній осі
column-gap: відступ між колонками
row-gap: - відступ між рядками

12. ПЕРЕВІРИТИ ЧИТАБЕЛЬНІСТЬ КОДУ
*/

/*
|=====================================|
|------|ДЕФОЛТНІ СКИДАННЯ/RESET|------|
|=====================================|
*/
/*скинув маркери*/
.list {
    list-style: none;
}
/* скинув підкреслення */
.link {
    text-decoration: none;
}
button {
    cursor: pointer;
}

h1, h2, h3, h4, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}


/*7. звернувся до *{backround-color/outline}/DELETE по завершенню*/
/*
* {
    outline: 1px solid tomato;
    background: orange;
}
/*
|=========================================|
|-|ЗАГАЛЬНІ СТИЛІ/STYLES INDEX/PORTFOLIO|-|
|=========================================|
*/
/*
|------------COLORS/FONTS/OTHER----------|
|----прописати зрозумілі значення для кольрів:----|
|- CL - колір для тексту;-------------------------------|
|- H - колір для заголовків;----------------------------|
|- P - колір для абзаців;----------------------------|
|- BG - колір для фону;----------------------------------|
*/
:root {
    /*повидаляти зайве*/
    /*colors*/
    --color-web: #4D5AE5;
    --color-studio-header: #2E2F42;
    --color-studio-footer: #F4F4FD;
    --title-h-cl: #2E2F42;
    --title-p-cl: #434455;
    --header-navigation-a-norm-cl: #2E2F42;
    --header-adress-a-norm-cl: #434455;
    --header-a-active-cl: #404BBF;
    --section-hero-h-cl: #FFF;
    --section-hero-bg: #2E2F42;
    --section-hero-btn-cl: #FFF;
    --section-hero-btn-bg: #4D5AE5;
    --section-hero-btn-active-bg: #404BBF;
    --portfolio-filter-btn-cl: #4D5AE5;
    --portfolio-filter-btn-active-cl:#FFF;
    --portfolio-filter-btn-norm-bg: #F4F4FD;
    --portfolio-filter-btn-active-bg: #404BBF;

    /*fonts*/
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;

    /*other*/
}

.body-content {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: #434455;
    background: #FFF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/*
|==========================================|
|=======HEADER-FOOTER/загальні стилі=======|
|==========================================|
*/
.main-header {
    border-bottom: 1px solid #e7e9fc
}

.header-container {
    display: flex;
}
/*
|==========================================|
|----------------NAVIGATION----------------|
|==========================================|
*/
.header-navigation {
    display: flex;
    align-items: center;
}

.logo-webstudio-text {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-web);
    align-items: center;
    margin-right: 76px;
    
}

.header-logo-link {
    color: var(--color-studio-header);
}
/*
|==========================================|
|-----HEADER/головна навігація/перехід-----|
|==========================================|
*/

.header-menu-list {
    display: flex;
    gap: 40px;

}

.header-menu-item {
    font-style: normal;
    font-weight: 500;
    margin-right: 40px;

}

.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--header-navigation-a-norm-cl);
    display: block;
    margin-right: 0;
    padding-top: 24px;
    padding-bottom: 24px;

}

.hdr-text-color {
    color: #2e2f42;
}

/*
|==========================================|
|HEADER/ADRESS|
|==========================================|
*/
address {
    font-style: normal;
}

.header-page-adress {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.list-contacts {
    display: flex;
    gap: 40px;
}

.header-contacts-item {}

.header-contacts {
    color: #434455;
}

/*загальний клас для заголовків H2 на INDEX*/
.title-index {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--title-h-cl);
}
/*загальний клас для заголовків H2,H3 INDEX/PORTFOLIO*/
.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-h-cl);
}

/*інтерактивні посилання в спокійному стані*/
.header-contacts-item {
    color: #434455;
}
/*інтерактивні посилання в активному стані*/
.header-contacts-item :hover,
.header-contacts-item :focus {
    color: var(--header-a-active-cl);
}
.header-menu-item :hover,
.header-menu-item :focus {
    color: var(--header-a-active-cl);
}
/*
|========================================|
|BUTTONS STYLES/ЗАГАЛЬНІ СТИЛІ ДЛЯ КНОПОК|
|========================================|
*/
/*---------------INDEX---------------*/
.section-hero-button-servise {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #FFFFFF;

    /*можлива помилка*/
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
    
/*BUTTON/ACTIVE/INDEX*/
.section-hero-button-servise:hover,
.section-hero-button-servise:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}    

/*
|=======================================|
|----------ЗАГАЛЬНІ СТИЛІ:END-----------|
|=======================================|
*/

/*
|==========================================|
|---------------|MAIN|INDEX|---------------|
|---------------|SECTION HERO|-------------|
|==========================================|
*/
.section-hero-servise {
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
}    

.hero-container {
    display: block;
    text-align: center;

}

.section-hero-solutions {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFF;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    
}

/*
|==========================================|
|---------------|MAIN|INDEX|---------------|
|---------------|SECTION-OUR-GOALS|--------|
|==========================================|
*/
.section-our-goals {
    padding-top: 120px;
    padding-bottom: 120px;
}
.our-goals-container {
    padding-left: 15px;
    padding-right: 15px;
}
.section-our-goals-list {
    display: flex;
    gap: 24px;
    
}

.section-our-goals-item {
    width: calc((100% - 3*24px) / 4);
}

.section-our-goals-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-h-cl);
    margin-bottom: 8px;
}

/*
|==========================================|
|------------------|MAIN|------------------|
|-------------|SECTION OUR TEAM|-----------|
|==========================================|
*/
.section-team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}
.team-container {
    display: flex;
    flex-direction: column;
}
.section-team-first-title {
    text-align: center;
    margin-bottom: 72px;
}

.section-team-list {
    display: flex;
    gap: 24px;
}

.section-team-item {
    background-color: #FFFFFF;
    width: calc((100% - 3*24px) /4);
    /*продивитись де саме описується в макеті цей радіус*/
    border-radius: 0px 0px 4px 4px;
}

.section-team-img {} 

.specialist-position {
    padding-top: 32px;
    padding-bottom: 32px;
}
.section-team-title-name {
    text-align: center;
    margin-bottom: 8px;
}

.section-team-category {
    text-align: center;
}

.text-container {}

/*
|============================================|
|-------------------|MAIN|-------------------|
|-----------------|PORTFOLIO|----------------|
|============================================|
*/

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
}

.section-portfolio {
    margin-bottom: 72px;
    text-align: center;
}

.app-ideas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 24px;
    row-gap: 48px;
    
}

.ideas-item {
    width: calc((100% - 4*24) / 6);
}

.ideas-img {}

.name-app-category {
    padding: 32px 16px; 
    border: 1px solid #e7e9fc;
    border-top: none;
}

.ideas-title-h {
    margin-bottom: 8px;
}

.ideas-title-p {}

.category {
    color: #434455;
}

/*
|==========================================|
|FOOTER|
|==========================================|
*/
.footer {
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-container {}

.logo-webstudio-text {
    font-weight: 700;
    color: var(--color-web);
    
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-link {
    color: var(--color-studio-footer);
}

.footer-text {
    color: var(--color-studio-footer);
    max-width: 264px;
}